<html>
<head>
	<title>University Professor and Course Work View</title>
</head>
<body>
	<h2>Available Table Views:</h2>
		<ul>
			<li><a href="/professors">Professors</a></li>
			<li><a href="/courses">Courses</a></li>
			<li><a href="/subjects">Subjects</a></li>
		</ul>

</body>
</html>