<html>
<head>
	<title>Subjects</title>
</head>
<body>
	<h2>List of Subjects:</h2>
		<ul>
			<% @subjects_all.each do |subject| %>
			<li> <% @professors_all.each do |professor| %></li>
				<li><%= subject.id %> - <%= subject.name %> <a href="/subjects/<%= subject.id %>/edit">Edit</a> <a href="subjects/<%= subject.id %>/delete">Delete</a>/li>
				<% end %>
			<% end %>
		</ul>
</body>
</html>

