<h2>Enter New Subject:</h2>
		<form action="/subjects/new" method="post">
          <input type="text" id="new_subject_name" name="new_subject[name]" placeholder="Subject's Name">
          <input type="text" id="new_subject_id" name="new_subject[id]" placeholder="subject">
          <input type="submit">
    </form>
