<h2>Enter New Professot:</h2>
		<form action="/professors/new" method="post">
          <input type="text" id="new_professor_name" name="new_professor[name]" placeholder="Professor's Name">
          <input type="text" id="new_professor_subject_id" name="new_professor[subject_id]" placeholder="Subject Taught">
          <input type="submit">
    </form>
